p   {
    background-color: yellow;
}

.special {
    font-size: 24px;
}

.highlight p{
    background-color: green;
}

img[src$=".jpg"] {
    border: solid 2px black;
}

a[href] {
    color: violet
}

a:hover {
    background-color: aliceblue;
}

p::first-line {
    background-color: blueviolet;
    font-weight: bold;
}

li:first-child {
    font-style: italic;
}

input[type="text"]:focus {
    border: 2px solid blue;

}

input:focus, textarea:focus {
    border-color:blue   
}

.warning::before{
    content: "\0026A0";
}

p:last-child {
    background-color: brown;
}

.note::after {
    content: "🗒️";
}

a:visited {
    color: rgb(28, 136, 100);
}

.quote::first-line{
    font-style: italic;
}

li:nth-child(odd) {
    font-weith: bold;
}